<<<<<<< HEAD
site_name: "Java FS"
site_description: "Comprehensive Java Full Stack interview-preparation notes (Spring Boot + Angular)"
site_author: "Ramakrishna Sangamreddy"
site_url: "https://sramakrishnaa.github.io/java-fullstack-notes/"

repo_url: "https://github.com/sramakrishnaa/java-fullstack-notes"
repo_name: "sramakrishnaa/java-fullstack-notes"
edit_uri: "edit/main/docs/"

use_directory_urls: true
strict: true

theme:
  name: material
  language: en

  icon:
    logo: material/layers-triple
    repo: fontawesome/brands/github

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.path
    - navigation.prune
    - toc.follow
    - content.tabs.link
    - content.code.copy
    - search.suggest
    - search.highlight
    - search.share
    - content.code.annotate
    - content.action.edit
    - content.action.view

  font:
    text: Roboto
    code: "JetBrains Mono"

plugins:
  - search:
      lang: en
      separator: '[\s\-\.]+'
  - minify:
      minify_html: true
  - awesome-pages
  - redirects
  - glightbox
  - mermaid2:
      javascript: "https://unpkg.com/mermaid@10.4.0/dist/mermaid.esm.min.mjs"
      arguments:
        startOnLoad: false

markdown_extensions:
  - admonition
  - tables
  - footnotes
  - attr_list
  - def_list
  - admonition
  - tables
  - footnotes
  - attr_list
  - def_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: "__span"
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

extra:
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/sramakrishnaa"

validation:
  nav:
    omitted_files: info
    not_found: warn
  links:
    not_found: warn

site_dir: "site"
docs_dir: "docs"
=======
site_name: Java Fullstack Handbook
>>>>>>> b78412952968afc056e4cf101b613455f8025d84
