site_name: "Java FS"
site_description: "Comprehensive Java Full Stack interview-preparation notes (Spring Boot + Angular)"
site_author: "Ramakrishna Sangamreddy"
site_url: "https://sramakrishnaa.github.io/java-fullstack-notes/"

repo_url: "https://github.com/sramakrishnaa/java-fullstack-notes"
repo_name: "sramakrishnaa/java-fullstack-notes"
edit_uri: "edit/main/docs/"

use_directory_urls: true
strict: true

theme:
  name: material
  language: en

  icon:
    logo: material/layers-triple
    repo: fontawesome/brands/github

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    # - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.path
    - toc.follow
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - search.suggest
    - search.highlight
    - search.share

  font:
    text: Roboto
    code: "JetBrains Mono"

plugins:
  - search:
      lang: en
      separator: '[\s\-\.]+'
  - awesome-pages
  - redirects
  - glightbox
  - section-index
  # - git-revision-date-localized:
  #     fallback_to_build_date: true
  #     enable_creation_date: true
  - mermaid2:
      javascript: "https://unpkg.com/mermaid@10.4.0/dist/mermaid.esm.min.mjs"
      arguments:
        startOnLoad: false
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - tables
  - footnotes
  - attr_list
  - def_list

  - pymdownx.highlight:
      use_pygments: true
      guess_lang: false
      anchor_linenums: true
      line_spans: "__span"
      pygments_lang_class: true

  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.snippets

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

extra:
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/sramakrishnaa"
  # generator: false

validation:
  nav:
    omitted_files: info
    not_found: warn
  links:
    not_found: warn

docs_dir: "docs"
site_dir: "site"
